@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?8wbsvf');
  src:  url('../fonts/icomoon.eot?8wbsvf#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?8wbsvf') format('truetype'),
    url('../fonts/icomoon.woff?8wbsvf') format('woff'),
    url('../fonts/icomoon.svg?8wbsvf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-book:before {
  content: "\e932";
  color: #fff;
}
.icon-tornado:before {
  content: "\e92d";
}
.icon-document-file-html:before {
  content: "\e901";
}
.icon-document-file-html1:before {
  content: "\e902";
}
.icon-content_paste:before {
  content: "\e900";
}
.icon-linkedin-square:before {
  content: "\f08c";
}
.icon-html5:before {
  content: "\f13b";
}
.icon-git-square:before {
  content: "\f1d2";
}
.icon-gitlab:before {
  content: "\f296";
}
.icon-film:before {
  content: "\e933";
}
.icon-forward:before {
  content: "\e931";
}
.icon-embed:before {
  content: "\ea7f";
}
.icon-embed2:before {
  content: "\ea80";
}
.icon-android:before {
  content: "\eac0";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-adobecreativecloud:before {
  content: "\e903";
  color: #d41818;
}
.icon-airplayaudio:before {
  content: "\e904";
}
.icon-amazon:before {
  content: "\e905";
  color: #f90;
}
.icon-amazonaws:before {
  content: "\e906";
}
.icon-android1:before {
  content: "\e930";
  color: #3ddc84;
}
.icon-apache:before {
  content: "\e907";
  color: #d22128;
}
.icon-bing:before {
  content: "\e908";
  color: #008373;
}
.icon-blogger:before {
  content: "\e934";
  color: #ff5722;
}
.icon-cakephp:before {
  content: "\e909";
  color: #d33c43;
}
.icon-cloudbees:before {
  content: "\e90a";
  color: #1997b5;
}
.icon-codecov:before {
  content: "\e90b";
  color: #f01f7a;
}
.icon-codefactor:before {
  content: "\e90c";
  color: #f44a6a;
}
.icon-digitalocean:before {
  content: "\e90d";
  color: #0080ff;
}
.icon-django:before {
  content: "\e90e";
}
.icon-docker:before {
  content: "\e90f";
  color: #1488c6;
}
.icon-figma:before {
  content: "\e910";
  color: #f24e1e;
}
.icon-flask:before {
  content: "\e911";
}
.icon-git:before {
  content: "\e912";
  color: #f05032;
}
.icon-github:before {
  content: "\e913";
}
.icon-gitlab1:before {
  content: "\e914";
  color: #fca121;
}
.icon-gmail:before {
  content: "\e915";
  color: #fff;
}
.icon-googlecloud:before {
  content: "\e916";
  color: #4285f4;
}
.icon-graphql:before {
  content: "\e917";
  color: #e10098;
}
.icon-heroku:before {
  content: "\e918";
  color: #430098;
}
.icon-html51:before {
  content: "\e919";
  color: #e34f26;
}
.icon-icloud:before {
  content: "\e91a";
  color: #3693f3;
}
.icon-jenkins:before {
  content: "\e91b";
  color: #d24939;
}
.icon-jetbrains:before {
  content: "\e91c";
}
.icon-jira:before {
  content: "\e91d";
}
.icon-kotlin:before {
  content: "\e91e";
  color: #0095d5;
}
.icon-netflix:before {
  content: "\e91f";
  color: #e50914;
}
.icon-netlify:before {
  content: "\e920";
  color: #00c7b7;
}
.icon-nginx:before {
  content: "\e921";
  color: #269539;
}
.icon-notion:before {
  content: "\e922";
}
.icon-php:before {
  content: "\e92f";
  color: #777bb4;
}
.icon-playstation:before {
  content: "\e923";
  color: #003791;
}
.icon-postgresql:before {
  content: "\e924";
  color: #336791;
}
.icon-postman:before {
  content: "\e925";
  color: #ff6c37;
}
.icon-powershell:before {
  content: "\e926";
  color: #5391fe;
}
.icon-pypi:before {
  content: "\e92c";
  color: #3775a9;
}
.icon-python:before {
  content: "\e927";
  color: #3776ab;
}
.icon-redis:before {
  content: "\e928";
  color: #d82c20;
}
.icon-terraform:before {
  content: "\e929";
  color: #623ce4;
}
.icon-udemy:before {
  content: "\e92a";
  color: #ec5252;
}
.icon-visualstudiocode:before {
  content: "\e92b";
  color: #007acc;
}
.icon-vue-dot-js:before {
  content: "\e92e";
  color: #4fc08d;
}
